*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-fs: 18px;
  --primary-fw: 500;
  --linear-active-input-border-clr: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
  --input-error-clr: hsl(0, 100%, 66%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grayish-violet: hsl(270, 3%, 87%);
  --neutral-dark-grayish-violet: hsl(279, 6%, 55%);
  --neutral-very-dark-violet: hsl(278, 68%, 11%);
}

img {
  display: block;
  max-width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

/*Mobile style*/
.App {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: var(--primary-fw);
  font-size: var(--primary-fs);
  min-height: 100vh;
  min-height: 100dvh;

}

.App .container {
  width: min(90%, 60rem);
  margin-inline: auto;
}

.Card {
  background-image: url("./images/bg-main-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-bottom: 5rem;
}

.FrontCard, .BackCard {
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 width: 16rem;
 aspect-ratio: 16/9;
 color: var(--neutral-white);
 padding: 1rem;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 
}

.FrontCard {
  background-image: url("./images/bg-card-front.png");
  z-index: 99;
  position: relative;
  top: -2rem;
}

.FrontCard > *:not(:first-child) {
  margin-top: 1em;
}

.BackCard {
  background-image: url("./images/bg-card-back.png");
  justify-content: center;
  position: relative;
  top: 2rem;
  left: 3rem;
}

.BackCard .cvc {
  align-self: flex-end;
  margin-right: 1em;
}

.FrontCard .icon {
  background-image: url("./images/card-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 47px;
}

.FrontCard .row {
  font-size: .75rem;
  display: flex;
  justify-content: space-between;
  
}

.Form .container > * {
  margin-top: 1em;
  font-size: 1rem;
}

.Form .input-field > input {
  margin-top: .5em;
}

.Form input, .Form .submit-btn {
  font-family: 'Space Grotesk', sans-serif;
}

.Form input {
  padding: 1em;
  border: 1px solid var(--neutral-light-grayish-violet);
  border-radius: 10px;
  width: 100%;
  outline: transparent;
}

.Form input:is(:hover, :focus) {
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right,var(--linear-active-input-border-clr)) border-box;
  border-radius: 10px;
  border: 1px solid transparent;
}

.Form input.error {
  border: 1px solid var(--input-error-clr);
}

.Form .error-text {
  margin-top: .5em;
  color: var(--input-error-clr);
  font-size: .8rem;
}

.Form .input-field.inline {
  display: flex;
  gap: 1rem;

}

.Form .input-field.shrink {
  flex: 1;
}

.Form .input-field.two-input input{
  max-width: 3.5rem;
  margin-right: .5rem;
}

.Form .submit-btn, .Thank .continue-btn {
  cursor: pointer;
  padding: 1em;
  border: 0;
  border-radius: 10px;
  background-color: var(--neutral-very-dark-violet);
  color: var(--neutral-white);
  width: 100%;
  margin-top: 2rem;
}

.Thank {
  display: grid;
  place-items: center;
}

.Thank > :nth-child(2) {
  margin-top: 1rem;
}



.Thank > p {
  color: var(--neutral-dark-grayish-violet);
}

@media screen and (min-width: 1000px) {
  .App {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15rem;
  }

  .Card {
    background-image: url("./images/bg-main-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-height: 100dvh;
    width: 40%;
    margin: 0;
  }

  .FrontCard, .BackCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
   }

  .FrontCard {
    left: 70%;
  }

  .BackCard {
    top: 22rem;
    left: 80%;
    justify-content: center;
  }

  .BackCard .cvc{
    align-self: flex-end;
  }


}